body, td, a, div, .p {
    font-family: arial, sans-serif
}

#panel {
    margin: 100px 0;
}

.gwt-Button {
    font-size: 16px;
}

.gwt-TabLayoutPanel {
    height: 100%;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    min-width: 100px;
    background: #ddecfa;
    text-align: center;
    float: left;
    margin-right: 5px;
    font-size: 14px;
    padding: 15px 5px 5px 5px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    border-top: 8px solid #6bbbf6;
    padding: 7px 5px 5px 5px;
}

.gwt-TabLayoutPanelTab-selected:hover {
    border-top: 8px solid #6bbbf6 !important;
    padding: 7px 5px 5px 5px !important;
}

.gwt-TabLayoutPanelTab:hover {
    border-top: 8px solid #6bdbff;
    padding: 7px 5px 5px 5px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    border: 1px solid #e3e9ef;
    background-color: #f3f9ff;
    padding: 15px;
    border-radius: 10px;
    border-top-left-radius: 0;
}